@import "tailwindcss";


@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

.loader {
    width: 20px;
    height: 20px;
    border: 3px solid var(--color-blue-500);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
}
/*:root {*/
/*  font-family: IRANYekanXFaNum !important;*/
/*}*/
